<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>基本機能搭載アプリ</h1>
  <p>このアプリケーションは、基本的なログイン・ログアウト機能を搭載しています。</p>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>
