<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>名前：<%= @user.name %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>